<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>

<div class="row btn-center">
  <div class="col">
    <button type="button" class="btn btn-success b1" [routerLink]="['/service-dashboard']">Ban</button>
  </div>
</div>
<div class="row btn-center">
  <div class="col">
    <button type="button" class="btn btn-success b1" [routerLink]="['/service-dashboard']">Data</button>
  </div>
</div>  
<div class="row btn-center">
  <div class="col">
    <button type="button" class="btn btn-success b1" [routerLink]="['/resources']">Service</button>
  </div>
</div>  