<div class="row create-file">
  <div class="col-6">
    <button type="button" class="btn btn-success" [routerLink]="['/create-new']"><i class="fa fa-plus-square"></i> Create New File</button>
  </div>
  <div class="col-6 logout">
    <button type="button" class="btn btn-primary" [routerLink]="['/login']"><i class="fa fa-sign-out fa-lg"></i></button>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="w-60">File Name</th>
        <th class="w-20">Type</th>
        <th class="w-20">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <td class="w-60">{{file.name}}</td>
        <td class="w-20">{{file.type}}</td>
        <td class="w-20"><a [href]="file.url" target="_blank">View</a></td>
      </tr>
    </tbody>
  </table>
</div>
